<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618382942308-eetrtm4s9qkgmi55dal7otg3c65p92r8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618382942308-eetrtm4s9qkgmi55dal7otg3c65p92r8</string>
	<key>API_KEY</key>
	<string>AIzaSyDVTrxkewtJiBnnrimsuuMom-rJrPIaQQo</string>
	<key>GCM_SENDER_ID</key>
	<string>618382942308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ferdifir.exopets</string>
	<key>PROJECT_ID</key>
	<string>exopets-b2d6b</string>
	<key>STORAGE_BUCKET</key>
	<string>exopets-b2d6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618382942308:ios:c99495999fbe133e563f71</string>
</dict>
</plist>